@model Ionit.Receitas.Core.Entities.Receita

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h1>Receita <span class="label label-default"></span></h1>
    <hr />
    <div class="row center-block">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label">Título</label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TempoPreparo" class="control-label">Tempo de Preparo</label>
                    <input asp-for="TempoPreparo" class="form-control" />
                    <span asp-validation-for="TempoPreparo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RendimentoPorcao" class="control-label">Rendimento da Porção</label>
                    <input asp-for="RendimentoPorcao" class="form-control" />
                    <span asp-validation-for="RendimentoPorcao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label">Categoria: </label>
                    <select class="form-control" asp-for="Categoria.Id">
                        @{
                            foreach (var item in ViewBag.ReceitaCategoria)
                            {
                                <option value="@item.Id">
                                    @item.Nome
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    "Ingredientes"
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model?.Ingredientes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                    @{ Html.RenderPartial("CreateIngrediente"); }
                </div>
                <div class="form-group">
                    <input type="submit" value="Incluir" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
